openapi: 3.1.0

info:
  title: Wasapp Service API Documentation
  description: |-
    API for interacting with Wasapp, a messaging service.
  version: 1.0.0

servers:
  - url: https://wasapp.online/v1

# ================================================================

tags:
  - name: Login
    description: Endpoints for authentication
  - name: Search
    description: Endpoints for searching users
  - name: User Management
    description: Endpoints for user management of the logged user
  - name: Chat Creation
    description: Endpoints for creating new chats (direct chats or groups)
  - name: Chat Operations
    description: Endpoints for interacting with the chats of the logged user
  - name: Group Operations
    description: Endpoints for interacting with group specific functionalities
  - name: Message Operations
    description: Endpoints for interacting with messages specific functionalities

paths:
  # -------------------- LOGIN --------------------
  /session:
    post:
      tags: ["Login"]
      summary: Log in a user
      description: >-
        If the user does not exist, a new user will be created and both the user identifier and an authentication token will be returned.
        If the user already exists, the user identifier and an authentication token will be returned.
      operationId: doLogin
      requestBody:
        description: User details.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '201':
          description: User created and logged in successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Bad request - Returns code `INVALID_INPUT` if the request body is missing/malformed or `INVALID_USER_NAME` if the username is invalid (must be 3-24 chars, alphanumeric + spaces/underscores/hyphens, at least one non-space).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # -------------------- USER SEARCH --------------------
  /users:
    get:
      tags: ["Search"]
      summary: List or search users on the platform
      description: |-
        Returns a list of users.
          - If a 'username' query parameter is provided, returns users whose usernames most closely match the query (ordered by similarity).
          - Otherwise, returns all users, ordered alphabetically by username.
      operationId: userSearch
      parameters:
        - name: username
          in: query
          description: Filter users whose username is similar to the provided value.
          required: false
          schema:
            $ref: '#/components/schemas/UserName'
      responses:
        "200":
          description: Users list returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSearchResponse'

  # -------------------- USERNAME UPDATE --------------------
  /me/name:
    patch:
      tags: ["User Management"]
      summary: Update the username of the logged-in user
      description: Updates the username of the logged-in user using the new value provided in the request body.
      operationId: setMyUserName
      security: [ { BearerAuth: [] } ]
      requestBody:
        description: The new username for the logged-in user.
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/PatchUserNameRequest'
      responses:
        "200":
          description: Username updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        "400":
          description: Bad request - Returns code `INVALID_INPUT` if the request body is missing/malformed or `INVALID_USER_NAME` if the username is invalid (must be 3-24 chars, alphanumeric + spaces/underscores/hyphens, at least one non-space).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication required or failed - Returns code `UNAUTHORIZED` if the Bearer token is missing, malformed, or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Conflict - Returns code `USERNAME_TAKEN` if the username is already in use by another user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

# -------------------- USER AVATAR IMAGE --------------------
  /me/avatar:
    put:
      tags: ["User Management"]
      summary: Upload or replace the avatar of the logged-in user
      description: >-
        Uploads or replaces the avatar for the authenticated user.
        The image must be JPEG, PNG or WebP format, maximum 5MB.
        Returns the updated user object with the new image URL.
      operationId: setMyUserAvatar
      security: [ { BearerAuth: [] } ]
      requestBody:
        description: Image file for user avatar
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BinaryImageUploadRequest'
            encoding:
              binaryImage:
                contentType: image/jpeg, image/png, image/webp
      responses:
        "204":
          description: Avatar uploaded successfully. No content is returned.
        "400":
          description: Bad request - Returns code `INVALID_INPUT` if the multipart form is malformed or `MISSING_IMAGE_FILE` if the image file is missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication required or failed - Returns code `UNAUTHORIZED` if the Bearer token is missing, malformed, or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "413":
          description: Payload too large - Returns code `PAYLOAD_TOO_LARGE` if the image file exceeds the maximum size (5MB).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "415":
          description: Unsupported media type - Returns code `UNSUPPORTED_MEDIA_TYPE` if the image format is not supported. Only JPEG, PNG, WebP allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # -------------------- CREATE CHATS --------------------

  /chats/groups:  # CREATE GROUP
    post:
      tags: ["Chat Creation"]
      summary: Create a group chat
      description: >-
        Create a group chat with the users specified in the request as members. The chat is automatically created by the server with an initial message.
        The autenticated user is automaticaly added to the group chat ea a member.
        The welcome message has the following characteristics: the sender is the user who created the chat, the content is empty, and it has isInitMessage = true.
      operationId: createGroupChat
      security: [ { BearerAuth: [] } ]
      requestBody:
        description: Group details.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewGroupChatRequest'
      responses:
        '201':
          description: Group chat created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPreview'
        '400':
          description: Bad request - Returns code `INVALID_INPUT` if the request body is missing/malformed, `INVALID_GROUP_NAME` if the group name is invalid, or `EMPTY_MEMBER_LIST` the members list is empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication required or failed - Returns code `UNAUTHORIZED` if the Bearer token is missing, malformed, or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Resource not found - Returns code `USER_NOT_FOUND` if a user ID in membersList does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Conflict - Returns code `ALREADY_IN_GROUP` if the same user ID appears more than once in membersList.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /user/{userId}/chats: # CREATE A DIRECT CHAT
    parameters:
      - $ref: '#/components/parameters/UserId'

    post:
      tags: ["Chat Creation"]
      summary: Create a direct chat with a user
      description: >-
        Create a direct chat with the specified user. The chat is automatically created by the server with an initial message.
        The welcome message has the following characteristics: the sender is the user who created the chat, the content is empty, and it has isInitMessage = true.
      operationId: createDirectChat
      security: [ { BearerAuth: [] } ]
      responses:
        '201':
          description: Direct chat created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPreview'
        '400':
          description: Bad request - Returns code `INVALID_INPUT` if you try to create a chat with yourself.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required or failed - Returns code `UNAUTHORIZED` if the Bearer token is missing, malformed, or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found - Returns code `USER_NOT_FOUND` if the specified user does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Conflict - Returns code `CHAT_ALREADY_EXISTS` if you already have a direct chat with this user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # -------------------- USER AVATAR IMAGE --------------------
  /users/{userId}/avatar:
    parameters:
      - $ref: '#/components/parameters/UserId'

    get:
      tags: ["User Management"]
      summary: Serve the avatar of a user
      description: >-
        Returns the avatar of the specified user.
        Publicly accessible; no authentication required.
      operationId: serveUserAvatar
      responses:
        '200':
          $ref: '#/components/responses/RawImageFileResponse'
        '404':
          description: Resource not found - Returns code `USER_NOT_FOUND` if the specified user does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /chats:
    # -------------------- CHATS PREVIEWS --------------------
    get:
      tags: ["Chat Operations"]
      summary: Get chat previews for the logged-in user
      description: >-
        Retrieve a list of chat previews belonging to the authenticated user.
        The chats are returned in order, sorted by the time of the last sent message (most recent first).
      operationId: getMyConversations
      security: [ { BearerAuth: [] } ]
      responses:
        "200":
          description: >-
            Chats returned successfully.
            The chat previews array is ordered by the last message sent time, from most recent to oldest.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatsPreviewListResponse'
        "401":
          description: Authentication required or failed - Returns code `UNAUTHORIZED` if the Bearer token is missing, malformed, or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # -------------------- CHANGE GROUP NAME --------------------
  /chats/{chatId}/name:
    parameters:
      - $ref: '#/components/parameters/ChatId'

    patch:
      tags: ["Group Operations"]
      summary: Change the name of the specified group
      description: >-
        Changes the name of the group identified by the specified chat ID,
        using the new name provided in the request body.
        If the given identifier is not associated with a group chat, an error will be returned.
      operationId: setGroupName
      security: [ { BearerAuth: [] } ]
      requestBody:
        description: The new name for the group.
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/PatchGroupNameRequest'
      responses:
        "200":
          description: Group name updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatName'
        "400":
          description: Bad request - Returns code `INVALID_INPUT` if the request body is missing/malformed or `INVALID_GROUP_NAME` the group name is invalid (must be 3-24 chars, alphanumeric + spaces/underscores/hyphens, at least one non-space).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication required or failed - Returns code `UNAUTHORIZED` if the Bearer token is missing, malformed, or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Returns code `FORBIDDEN_NOT_MEMBER` if the logged-in user is not a member of this group chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Resource not found - Returns code `CHAT_NOT_FOUND` if the specified chat does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Conflict - Returns code `NOT_A_GROUP_CHAT` if the chat ID belongs to a direct message chat; only the names of group chats can be set/changed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # -------------------- GROUP AVATAR IMAGE --------------------
  /chats/{chatId}/avatar:
    parameters:
      - $ref: '#/components/parameters/ChatId'
    put:
      tags: ["Group Operations"]
      summary: Upload or replace the avatar of the group
      description: >-
        Uploads or replace the avatar for the specified group chat.
        Only group members can update the image.
        If the given identifier is not associated with a group chat, an error will be returned.
        The image must be JPEG, PNG or WebP format, maximum 5MB.
        Returns the updated chat preview with the new image URL.
      operationId: setGroupPhoto
      security: [ { BearerAuth: [] } ]
      requestBody:
        description: Image file for group avatar
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BinaryImageUploadRequest'
            encoding:
              binaryImage:
                contentType: image/jpeg, image/png, image/webp
      responses:
        "204":
          description: Group avatar uploaded successfully. No content is returned.
        '400':
          description: Bad request - Returns code `INVALID_INPUT` if the multipart form is malformed or `MISSING_IMAGE_FILE` if the image file is missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required or failed - Returns code `UNAUTHORIZED` if the Bearer token is missing, malformed, or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Returns code `FORBIDDEN_NOT_MEMBER` if the logged-in user is not a member of this group chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found - Returns code `CHAT_NOT_FOUND` if the specified chat does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Conflict - Returns code `NOT_A_GROUP_CHAT` if the chat ID belongs to a direct message chat; only the avatar of group chats can be set/changed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "413":
          description: Payload too large - Returns code `PAYLOAD_TOO_LARGE` if the image file exceeds the maximum size (5MB).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "415":
          description: Unsupported media type - Returns code `UNSUPPORTED_MEDIA_TYPE` if the image format is not supported. Only JPEG, PNG, WebP allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    # -------------------- SERVE CHAT/GROUP AVATAR --------------------
    get:
      tags: ["Chat Operations"]
      summary: Serve the avatar of a chat or group
      description: >-
        Returns the avatar of the specified chat.
        For 1-on-1 chats, returns the other user's avatar.
        For group chats, returns the group avatar.
        Authentication required, only chat members can access.
      operationId: serveChatAvatar
      security: [ { BearerAuth: [] } ]
      responses:
        '200':
          $ref: '#/components/responses/RawImageFileResponse'
        '401':
          description: Authentication required or failed - Returns code `UNAUTHORIZED` if the Bearer token is missing, malformed, or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Returns code `FORBIDDEN_NOT_MEMBER` if the logged-in user is not a member of this chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found - Returns code `CHAT_NOT_FOUND` if the specified chat does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /chats/{chatId}/members:
    parameters:
      - $ref: '#/components/parameters/ChatId'

    # -------------------- CHAT GET USERS --------------------
    get:
      tags: ["Chat Operations"]
      summary: Retrieve the list of users in the specified chat
      description: >
        Returns the list of users who are members in the specified chat.
        Each item includes the user ID and username.
      operationId: getChatMembers
      security: [ { BearerAuth: [] } ]
      responses:
        "200":
          description: >-
            User list returned successfully.
            The list contains the ID and name of each user in the chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMembersListResponse'
        "401":
          description: Authentication required or failed - Returns code `UNAUTHORIZED` if the Bearer token is missing, malformed, or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Returns code `FORBIDDEN_NOT_MEMBER` if the logged-in user is not a member of this chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    # -------------------- GROUP ADD USERS --------------------
    post:
      tags: ["Group Operations"]
      summary: Add a specified user to the group
      description: >
        Adds the user associated with the given user ID to the group identified by the specified chat ID.
        To add a user to the group, you must already be a member.
      security: [ { BearerAuth: [] } ]
      operationId: addToGroup
      requestBody:
        description: User identifier
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUserToGroupRequest'
      responses:
        '201':
          description: New user added successfully. Returns the updated list of group members.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMembersListResponse'
        '400':
          description: Bad request - Returns code `INVALID_INPUT` if the request body is missing, malformed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication required or failed - Returns code `UNAUTHORIZED` if the Bearer token is missing, malformed, or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Returns code `FORBIDDEN_NOT_MEMBER` if the logged-in user is not a member of this group chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Resource not found - Returns code `CHAT_NOT_FOUND` if the group chat does not exist, or `USER_NOT_FOUND` if the target user to add does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Conflict - Returns code `ALREADY_IN_GROUP` if the target user is already a member, or `NOT_A_GROUP_CHAT` if the chat ID belongs to a direct message chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # -------------------- GROUP LEAVE --------------------
  /chats/{chatId}/members/me:
    parameters:
      - $ref: '#/components/parameters/ChatId'

    delete:
      tags: ["Group Operations"]
      summary: Leave the group
      description: Removes the logged-in user from the group identified by the specified chat ID.
      security: [ { BearerAuth: [] } ]
      operationId: leaveGroup
      responses:
        "204":
          description: User left the group successfully. No content is returned.
        "401":
          description: Authentication required or failed - Returns code `UNAUTHORIZED` if the Bearer token is missing, malformed, or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Returns code `FORBIDDEN_NOT_MEMBER` if the logged-in user is not a member of this group chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Resource not found - Returns code `CHAT_NOT_FOUND` if the specified chat does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Conflict - Returns code `NOT_A_GROUP_CHAT` if the chat ID belongs to a direct message chat; only members of group chats can leave the group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /chats/{chatId}/messages:
    parameters:
      - $ref: '#/components/parameters/ChatId'

    # -------------------- GET CHAT MESSAGES --------------------
    get:
      tags: ["Chat Operations"]
      summary: Retrieve all messages for the specified chat
      description: >- #TODO: updated description when paging is implemented
        Returns all messages belonging to the specified chat.
      operationId: getConversation
      security: [ { BearerAuth: [] } ]
      responses:
        "200":
          description: >-
            Chat messages returned successfully.
            The messages array is ordered by the last message sent time, from most recent to oldest.
          content:
            application/json:
              schema:
                    $ref: '#/components/schemas/ChatMessagesResponse'
        "401":
          description: Authentication required or failed - Returns code `UNAUTHORIZED` if the Bearer token is missing, malformed, or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Returns code `FORBIDDEN_NOT_MEMBER` if the logged-in user is not a member of this chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Resource not found - Returns code `CHAT_NOT_FOUND` if the specified chat does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    # -------------------- SEND MESSAGE --------------------
    post:
      tags: ["Chat Operations"]
      summary: Send a message (text OR image OR both) in the specified chat
      description: >-
        Sends a new message to the specified chat using the content (text OR image OR both)
        and timestamp provided in the request body.
        The image must be JPEG, PNG or WebP format, maximum 5MB.
      operationId: sendMessage
      security: [ { BearerAuth: [] } ]
      requestBody:
        description: >-
          The message content (text OR image OR both) and sendtime used to create the
          new message in the specified chat.
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NewMessageRequest'
      responses:
        "201":
          description: Message created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "400":
          description: Bad request - Returns code `INVALID_INPUT` if the message content is invalid or required fields are missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication required or failed - Returns code `UNAUTHORIZED` if the Bearer token is missing, malformed, or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Returns code `FORBIDDEN_NOT_MEMBER` if the logged-in user is not a member of this chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Resource not found - Returns code `CHAT_NOT_FOUND` if the specified chat does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "413":
          description: Payload too large - Returns code `PAYLOAD_TOO_LARGE` if the image file exceeds the maximum size (5MB).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "415":
          description: Unsupported media type - Returns code `UNSUPPORTED_MEDIA_TYPE` if the image format is not supported. Only JPEG, PNG, WebP allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # -------------------- DELETE MESSAGE --------------------
  /chats/{chatId}/messages/{messageId}:
    parameters:
      - $ref: '#/components/parameters/ChatId'
      - $ref: '#/components/parameters/MessageId'

    delete:
      tags: ["Message Operations"]
      summary: Delete a specific message from the specified chat
      description: |-
        Deletes the message identified by messageId from the chat identified by chatId.
        The authenticated user must be the same user that sent the message.
          - Subsequent reads of this message will return it with 'isDeleted' set to true and 'content' set to null, so clients can display it as a deleted message.
          - A message with the `InitMessage` flag set to true cannot be deleted.
      operationId: deleteMessage
      security: [ { BearerAuth: [] } ]
      responses:
        "200":
          description: Message marked as deleted successfully. Returns the updated message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "401":
          description: Authentication required or failed - Returns code `UNAUTHORIZED` if the Bearer token is missing, malformed, or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Returns code `FORBIDDEN_NOT_MEMBER` if the logged-in user is not a member of this chat, `FORBIDDEN_NOT_SENDER` is not the sender of the message, `FORBIDDEN_ITS_INIT_MESSAGE` or the message is an initial message (isInitMessage=true).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Resource not found - Returns code `CHAT_NOT_FOUND` if the chat or `MESSAGE_NOT_FOUND` the message does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # -------------------- REPLY MESSAGE --------------------
  /chats/{chatId}/messages/{messageId}/replies:
    parameters:
      - $ref: '#/components/parameters/ChatId'
      - $ref: '#/components/parameters/MessageId'

    post:
      tags: ["Message Operations"]
      summary: Add a comment replying to a specific message of the chat
      description: >
        Creates a new message in the specified chat that replies to
        the message identified by messageId.
      operationId: replyMessage
      security: [ { BearerAuth: [] } ]
      requestBody:
        description: The new message sent as a reply to the specified message.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewMessageRequest'
      responses:
        "201":
          description: Reply message created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "400":
          description: Bad request - Returns code `INVALID_INPUT` if the message content is invalid or required fields are missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication required or failed - Returns code `UNAUTHORIZED` if the Bearer token is missing, malformed, or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Returns code `FORBIDDEN_NOT_MEMBER` if the logged-in user is not a member of this chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Resource not found - Returns code `CHAT_NOT_FOUND` if the chat or `MESSAGE_NOT_FOUND` if the referenced message does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # -------------------- ADD REACTION TO MESSAGE --------------------
  /chats/{chatId}/messages/{messageId}/reactions:
    parameters:
      - $ref: '#/components/parameters/ChatId'
      - $ref: '#/components/parameters/MessageId'

    post:
      tags: ["Message Operations"]
      summary: Add an emoji reaction to a specific message
      description: >-
        Lets the user react to the specified message with an emoji. If the user has
        already reacted to this message, the existing reaction is replaced with the new one.
      operationId: commentMessage
      security: [ { BearerAuth: [] } ]
      requestBody:
        description: The emoji to use as a reaction.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmojiReactionRequest'
      responses:
        "201":
          description: Reaction added or updated for the message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "400":
          description: Bad request - Returns code `INVALID_INPUT` if the request body is missing/malformed or `INVALID_EMOJI_ID` if the emojiId is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication required or failed - Returns code `UNAUTHORIZED` if the Bearer token is missing, malformed, or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Returns code `FORBIDDEN_NOT_MEMBER` if the logged-in user is not a member of this chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Resource not found - Returns code `CHAT_NOT_FOUND` if the chat or `MESSAGE_NOT_FOUND` if the referenced message does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    # -------------------- REMOVE REACTION TO MESSAGE --------------------
    delete:
      tags: ["Message Operations"]
      summary: Remove the logged-in user's reaction from the specified message
      description: >-
        Lets the logged-in user remove their reaction from the specified message.
      operationId: uncommentMessage
      security: [ { BearerAuth: [] } ]
      responses:
        "200":
          description: Reaction removed successfully. Returns the updated message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "401":
          description: Authentication required or failed - Returns code `UNAUTHORIZED` if the Bearer token is missing, malformed, or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Returns code `FORBIDDEN_NOT_MEMBER` if the logged-in user is not a member of this chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Resource not found - Returns code `CHAT_NOT_FOUND` if the chat, `MESSAGE_NOT_FOUND` if the message, or `REACTION_NOT_FOUND` if the reaction does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # -------------------- FORWARD MESSAGE --------------------
  /chats/{chatId}/messages/{messageId}/forwards:
    parameters:
      - $ref: '#/components/parameters/ChatId'
      - $ref: '#/components/parameters/MessageId'

    post:
      tags: ["Message Operations"]
      summary: Forward the specified message
      description: >-
        Allows the user to forward the selected message to another chat.
        The ID of the destination chat must be specified in the request body.
      operationId: forwardMessage
      security: [ { BearerAuth: [] } ]
      requestBody:
        description: >-
          The chatId and sendTime to use to forward the message in
          the destination chat.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForwardMessageRequest'
      responses:
        "201":
          description: Message forwarded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "400":
          description: Bad request - Returns code `INVALID_INPUT` if the destination chat ID or the sendTime is missing or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication required or failed - Returns code `UNAUTHORIZED` if the Bearer token is missing, malformed, or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Returns code `FORBIDDEN_NOT_MEMBER` if the logged-in user is not a member of the origin or destination chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Resource not found - Returns code `ORIGIN_CHAT_NOT_FOUND` if the origin chat, `MESSAGE_NOT_FOUND` if the message, or `DESTINATION_CHAT_NOT_FOUND` the destination chat does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # -------------------- SERVE CHAT MESSAGE IMAGE --------------------
  /chats/{chatId}/images/{imageId}:
    parameters:
      - $ref: '#/components/parameters/ChatId'
      - $ref: '#/components/parameters/ImageId'

    get:
      tags: ["Chat Operations"]
      summary: Serve an image from a chat message
      description: >-
        Returns the raw image file attached to a message in the specified chat.
        Authentication required, only chat members can access.
      operationId: serveMessageImage
      security: [ { BearerAuth: [] } ]
      responses:
        '200':
          $ref: '#/components/responses/RawImageFileResponse'
        '401':
          description: Authentication required or failed - Returns code `UNAUTHORIZED` if the Bearer token is missing, malformed, or invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - Returns code `FORBIDDEN_NOT_MEMBER` if the logged-in user is not a member of this chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource not found - Returns code `CHAT_NOT_FOUND` if the chat or `MISSING_IMAGE_FILE` if the image does not exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  parameters:
    UserId:
      name: userId
      in: path
      description: Unique identifier for the user (UUID).
      required: true
      schema: { $ref: '#/components/schemas/UserId' }

    ChatId:
      name: chatId
      in: path
      description: Unique identifier for the chat (UUID).
      required: true
      schema: { $ref: '#/components/schemas/ChatId' }

    MessageId:
      name: messageId
      in: path
      description: The message ID (UUID) that uniquely identifies the message within its chat.
      required: true
      schema: { $ref: '#/components/schemas/MessageId' }

    ImageId:
      name: imageId
      in: path
      description: Unique identifier for the image (UUID).
      required: true
      schema: { $ref: '#/components/schemas/ImageId' }

  # ================================================================

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: "JWT"

  # ================================================================

  schemas:
    # -------------------- BASE COMPONENTS --------------------
    # Basic components used in various schemas

    BaseId:
      type: string
      format: uuid
      readOnly: true
      description: Base UUID identifier type, used only as a parent for specific ID schemas
      pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$'
      minLength: 36
      maxLength: 36
      example: "550e8400-e29b-41d4-a716-446655440000"

    BaseName:
      description: >-
        The name must be 3 to 24 characters long.
        Allowed characters are letters, numbers, spaces, underscores (_), and hyphens (-).
        The name needs at least one alpha-numeric character.
      type: string
      pattern: "^(?=.*[A-Za-z0-9_-])[A-Za-z0-9 _-]{3,24}$"
      minLength: 3
      maxLength: 24

    BaseDateTime:
      type: string
      format: date-time
      description: ISO 8601 timestamp
      example: "2025-11-11T09:59:00Z"
      minLength: 20
      maxLength: 30

    # -------------------- BASE IMAGE --------------------

    ImageId:
      allOf:
        - $ref: '#/components/schemas/BaseId'
        - description: Server-assigned unique identifier for the image.

    ImageUrl:
      type: string
      format: url
      description: >-
        URL to access a message image. Image format is indicated by the HTTP Content-Type header upon retrieval.
      example: "https://wasapp.online/v1/chats/550e8400-e29b-41d4-a716-446655440000/images/660e8400-e29b-41d4-a716-446655440000"

    BinaryImage:
      type: string
      format: binary
      minLength: 1
      maxLength: 5242880
      description: Image file (JPEG, PNG, WebP, max 5MB), used for uploading images.

    # -------------------- USER --------------------

    User:
      type: object
      description: User information.
      required: [id, name]
      properties:
        id:     { $ref: '#/components/schemas/UserId'   }
        name:   { $ref: '#/components/schemas/UserName' }

    UserId:
      allOf:
        - $ref: '#/components/schemas/BaseId'
        - description: Unique identifier assigned to the user by the server.

    UserName:
      allOf:
        - $ref: '#/components/schemas/BaseName'
        - description: Unique username visible to other users.
        - example: Feldspar

    # -------------------- LOGIN --------------------

    LoginRequest:
      type: object
      description: Request payload containing the username to log in or create a user.
      required: [userName]
      properties:
        userName: { $ref: '#/components/schemas/UserName' }

    BearerToken:
      type: string
      description: Token used to fulfill the Bearer Authentication standard.
      pattern: ^Bearer\s[A-Za-z0-9-._~+/]+={0,2}$
      example: "Bearer JhdkEN7QWidlYDjRTH8I~n99YJfqCC=="

    # -------------------- CHAT --------------------

    ChatId:
      allOf:
        - $ref: '#/components/schemas/BaseId'
        - description: Unique identifier assigned to the chat by the server.

    ChatName:
      allOf:
        - $ref: '#/components/schemas/BaseName'
        - description: Name of the chat
        - example: Marco34

    ChatPreview:
      type: object
      description: >-
        Represents a chat. Standard chats include two users;
        group chats can be created with the group flag.
      required: [id, displayName, lastMessage]
      properties:
        id:           { $ref: '#/components/schemas/ChatId'          }
        displayName:  { $ref: '#/components/schemas/ChatDisplayName' }
        isGroupChat:  { $ref: '#/components/schemas/IsGroupChat'     }
        lastMessage:  { $ref: '#/components/schemas/ChatLastMessage' }

    ChatDisplayName:
      allOf:
        - $ref: '#/components/schemas/ChatName'
        - description: |-
            The name displayed in the chat preview.
              - For 1-on-1 chats: the name of the other user is displayed.
              - For group chats: the group name is displayed.

    IsGroupChat:
      type: boolean
      description: >-
        Indicates if it's a group chat. Used by the client to determine when to display additional group info.
        For example, if is a group chat, the client can show in the last message preview the sender's name.
      readOnly: true

    ChatLastMessage:
      type: object
      description: |-
        Preview of the last message sent in the chat. It can be composed by a text or by an image or both in this case the text is used as caption.
        - If the 'isDeleted' flag is true, the message content will not be returned by the server, and the client should render it as a deleted message.
        - If the 'isInitMessage' flag is true, the message content will not be returned by the server, and the client should render it as a "welcome" message.
      required: [status, sendTime, senderName, isDeleted, isInitMessage]
      properties:
        status:        { $ref: '#/components/schemas/MessageStatus'        }
        sendTime:      { $ref: '#/components/schemas/BaseDateTime'         }
        senderName:    { $ref: '#/components/schemas/UserName'             }
        isDeleted:     { $ref: '#/components/schemas/MessageIsDeletedFlag' }
        isInitMessage: { $ref: '#/components/schemas/IsInitMessageFlag'    }
        content:       { $ref: '#/components/schemas/MessageContent'       } #optional

    ChatMembersList:
      type: array
      description: List of users in a chat, ordered alphabetically by username.
      minItems: 1
      maxItems: 1024 #max number of allowed members in a group chat
      items:
        $ref: '#/components/schemas/User'

    ChatMembersListIdOnly:
      type: array
      description: List of users in a chat, ordered alphabetically by username.
      minItems: 1
      maxItems: 1024 #max number of allowed members in a group chat
      items:
        $ref: '#/components/schemas/UserId'

    # -------------------- MESSAGE --------------------

    Message:
      type: object
      description: |-
        Represents a message in a chat and includes all the information needed to display it.
          - If the 'isDeleted' flag is true, the message content will not be returned by the server , and the client should render it as a deleted message.
          - If 'forwardedFrom' is not present, the message was composed in this chat. If present, it contains the identifiers (`chatId` and `messageId`) of the original message from another chat which this message forwards. This allows clients to display context about forwarded messages by referencing their original location.
          - If 'replyTo' is not present, this message is not a reply. If it is present, it contains the ID of the message in the same chat that this message is replying to.
      required: [id, chatId, sendTime, sender, status, isDeleted, isInitMessage, reactionsList]
      properties:
        id:            { $ref: '#/components/schemas/MessageId'            }
        chatId:        { $ref: '#/components/schemas/ChatId'               }
        sendTime:      { $ref: '#/components/schemas/BaseDateTime'         }
        sender:        { $ref: '#/components/schemas/User'                 }
        status:        { $ref: '#/components/schemas/MessageStatus'        }
        isDeleted:     { $ref: '#/components/schemas/MessageIsDeletedFlag' }
        isInitMessage: { $ref: '#/components/schemas/IsInitMessageFlag'    }
        reactionsList: { $ref: '#/components/schemas/EmojiReactionsList'   }
        forwardedFrom: { $ref: '#/components/schemas/ForwardedFromInfo'    }  #optional
        replyTo:       { $ref: '#/components/schemas/ReplyToMessageId'     }  #optional
        content:       { $ref: '#/components/schemas/MessageContent'       }  #optional

    MessageId:
      allOf:
        - $ref: '#/components/schemas/BaseId'
        - description: >-
            Unique identifier assigned to the message by the server.
            A MessageId uniquely identifies a message only within its chat.

    MessageContent:
      description: >-
        Generic message content: only text, only image, or both
        (in this case, the text is used as a caption for the image).
      oneOf:
        - type: object
          required: [text, msgImageUrl]
          properties:
            text:        { $ref: '#/components/schemas/MessageText' }
            msgImageUrl: { $ref: '#/components/schemas/ImageUrl'    }
        #--------------------------
        - type: object
          required: [text]
          properties:
            text: { $ref: '#/components/schemas/MessageText' }
        #--------------------------
        - type: object
          required: [msgImageUrl]
          properties:
            msgImageUrl: { $ref: '#/components/schemas/ImageUrl' }

    MessageText:
      type: string
      description: >-
        The message text. Must contain at least one non-whitespace character.
        Cannot be made up only of spaces or other whitespace characters.
      minLength: 1
      maxLength: 3000
      pattern: '^(?!\s*$).+'
      example: "Hello World!!"

    MessageIsDeletedFlag:
      type: boolean
      description: >-
        Indicates whether the message content has been deleted.
        If true, the message content is not returned by the server,
        and the client should display this message as deleted.

    IsInitMessageFlag:
      type: boolean
      description: >-
        Indicates whether the message is the default message generated by the server when a new chat is created.
        When this flag is true, the message content should be empty and ignored by the client.
        The client should render the message as a welcome message like "This group was created by {senderOfTheMessage}"
        or "{senderOfTheMessage} started a direct chat with you". A message with the IsInitMessageFlag set to true can't be deleted

    MessageStatus:
      type: string
      enum: [delivered, received, read]
      description: |-
        Message read status:
          - 'delivered' means the message has been delivered to the server (default)
          - 'received' means the message has been received by all recipients (all participants except the sender)
          - 'read' means the message has been read by all recipients (all participants except the sender)
        This info is only useful when the requesting user sent the message, so the app can show in the preview of the chat if others have received/read your message.

    ReplyToMessageId:
      allOf:
        - $ref: '#/components/schemas/MessageId'
        - description: >-
            Identifier of the message in the same chat that this message is replying to.
            If absent, this message is not a reply.

    ForwardedFromInfo:
      type: object
      description: Information about the original message this one was forwarded from.
      required: [chatId, messageId]
      properties:
        chatId:    { $ref: '#/components/schemas/ChatId'    }
        messageId: { $ref: '#/components/schemas/MessageId' }

    # -------------------- EMOJI REACTIONS --------------------

    EmojiId:
      type: integer
      format: int32
      description: |-
        Numeric identifier of the emoji used as a reaction. Mapping:
          - 0 = 👍
          - 1 = ❤️
          - 2 = 😂
          - 3 = 😮
          - 4 = 😢
          - 5 = 🤔
          - 6 = 👏
          - 7 = 🙌
          - 8 = 😡
          - 9 = 🤯
      minimum: 0
      maximum: 9

    EmojiReaction:
      type: object
      description: >-
        Represents a reaction to a message, including the user who
        reacted and the emoji they used.
      required: [userId, emojiId]
      properties:
        userId:  { $ref: '#/components/schemas/UserId'  }
        emojiId: { $ref: '#/components/schemas/EmojiId' }

    EmojiReactionsList:
      type: array
      description: List of emoji reactions associated with the message.
      minItems: 0
      maxItems: 1024 #max number of members of a group chat
      items:
        $ref: '#/components/schemas/EmojiReaction'

    # -------------------- REQUESTS --------------------

    PatchUserNameRequest:
      type: object
      description: Request body for updating the logged-in user's username.
      properties:
        userName: { $ref: '#/components/schemas/UserName' }

    PatchGroupNameRequest:
      type: object
      description: Request body for changing the name of the specified group.
      properties:
        groupName:
          $ref: '#/components/schemas/ChatName'

    NewGroupChatRequest:
      type: object
      description: >-
        Details necessary for the creation of the new group chat.
        The list should not include the user who is creating the chat,
        since they are implicitly added to the users of a group.
      required: [groupName, membersList]
      properties:
        groupName:   { $ref: '#/components/schemas/ChatName'        }
        membersList: { $ref: '#/components/schemas/ChatMembersListIdOnly' }

    NewMessageRequest:
      type: object
      description: >-
        Request body for sending a new message.
        The message can contain: only text, only image, or both
        (in this case, the text is used as a caption for the image).
      oneOf:
        - type: object
          required: [text, imageFile, sendTime]
          properties:
            text:      { $ref: '#/components/schemas/MessageText'  }
            imageFile: { $ref: '#/components/schemas/BinaryImage'  }
            sendTime:  { $ref: '#/components/schemas/BaseDateTime' }
        #--------------------------
        - type: object
          required: [imageFile, sendTime]
          properties:
            imageFile: { $ref: '#/components/schemas/BinaryImage'  }
            sendTime:  { $ref: '#/components/schemas/BaseDateTime' }
        #--------------------------
        - type: object
          required: [text, sendTime]
          properties:
            text:     { $ref: '#/components/schemas/MessageText'  }
            sendTime: { $ref: '#/components/schemas/BaseDateTime' }

    ForwardMessageRequest:
      type: object
      description: Request to forward a message to another chat.
      required: [forwardTo, sendTime]
      properties:
        forwardTo: { $ref: '#/components/schemas/ChatId'       }
        sendTime:  { $ref: '#/components/schemas/BaseDateTime' }

    EmojiReactionRequest:
      type: object
      description: Represents a reaction to a message made by the logged-in user.
      required: [emojiId]
      properties:
        emojiId: { $ref: '#/components/schemas/EmojiId' }

    AddUserToGroupRequest:
      description: Request to add a user to a group chat.
      type: object
      required: [userId]
      properties:
        userId: { $ref: '#/components/schemas/UserId' }

    BinaryImageUploadRequest:
      type: object
      description: Request for uploading a image file (JPEG, PNG, WebP, max 5MB), used for uploading images.
      required: [binaryImage]
      properties:
        binaryImage: { $ref: '#/components/schemas/BinaryImage' }

    # -------------------- RESPONSES --------------------

    Error:
      type: object
      description: Default error structure.
      required: [code, message]
      properties:
        code:
          type: string
          description: Machine-readable error code for frontend logic.
          enum:
            - CHAT_NOT_FOUND
            - USER_NOT_FOUND
            - ALREADY_IN_GROUP
            - NOT_A_GROUP_CHAT
            - FORBIDDEN_NOT_MEMBER
            - INVALID_INPUT
            - INTERNAL_SERVER_ERROR
            - UNAUTHORIZED
            - USERNAME_TAKEN
            - CHAT_ALREADY_EXISTS
            - PAYLOAD_TOO_LARGE
            - UNSUPPORTED_MEDIA_TYPE
            - INVALID_USER_NAME
            - INVALID_GROUP_NAME
            - EMPTY_MEMBER_LIST
            - MISSING_IMAGE_FILE
            - FORBIDDEN_NOT_SENDER
            - FORBIDDEN_ITS_INIT_MESSAGE
            - MESSAGE_NOT_FOUND
            - INVALID_EMOJI_ID
            - REACTION_NOT_FOUND
            - DESTINATION_CHAT_NOT_FOUND
            - ORIGIN_CHAT_NOT_FOUND
          example: USER_NOT_FOUND
        message:
          type: string
          description: Human-readable error message.
          example: The specified user ID does not exist.

    AuthResponse:
      type: object
      description: Authentication result containing the user identifier and bearer token.
      readOnly: true
      required: [identifier, token]
      properties:
        identifier: { $ref: '#/components/schemas/UserId'      }
        token:      { $ref: '#/components/schemas/BearerToken' }

    UsersSearchResponse:  #todo: paging
      type: object
      description: Response containing the list of users matching the search criteria.
      required: [usersList]
      properties:
        usersList:
          type: array
          description: >-
            Returns the list of user matching the username query (ordered by similarity),
            or all users alphabetically if no query is provided.
          minItems: 0
          maxItems: 50
          items:
            $ref: '#/components/schemas/User'

    ChatsPreviewListResponse: #todo: paging
      type: object
      description: Response containing the list of chat previews for the logged-in user.
      required: [chatsPreviewList]
      properties:
        chatsPreviewList:
          type: array
          description: >-
            Array of chat previews, used for displaying the list of a user's chats.
            The list is ordered by the time of the last message in each chat, from latest to oldest.
          minItems: 0
          maxItems: 50
          items:
            $ref: '#/components/schemas/ChatPreview'

    ChatMessagesResponse: #todo: paging
      type: object
      description: Response to the request of the messages of a chat.
      required: [messages]
      properties:
        messages:
          type: array
          description: List of messages in chronological order, newest first.
          minItems: 0
          maxItems: 50
          items:
            $ref: '#/components/schemas/Message'

    ChatMembersListResponse:
      type: object
      description: Response containing the list of members in the chat.
      required: [membersList]
      properties:
        membersList:
          $ref: '#/components/schemas/ChatMembersList'

  responses:
    RawImageFileResponse:
      description: Raw image file returned as binary data
      content:
        image/jpeg:
          schema:
            type: string
            format: binary
            description: JPEG image file (binary data)
        image/png:
          schema:
            type: string
            format: binary
            description: PNG image file (binary data)
        image/webp:
          schema:
            type: string
            format: binary
            description: WebP image file (binary data)
