openapi: 3.1.0

info:
  title: Wasapp Service API Documentation
  description: |-
    API for interacting with Wasapp, a messaging service.
  version: 1.0.0

servers:
  - url: https://wasapp.online/v1
# ================================================================

tags:
  - name: Login
    description: Endpoints for authentication
  - name: Search
    description: Endpoints for searching users
  - name: User Management
    description: Endpoints for user profile management of the logged user
  - name: Chat Operations
    description: Endpoints for interacting with the chats of the logged user
  - name: Group Operations
    description: Endpoints for interacting with group specific functionalities
  - name: Message Operations
    description: Endpoints for interacting with messages specific functionalities
  - name: Image Serving
    description: Endpoints for serving images with appropriate access controls

paths:
  # -------------------- LOGIN --------------------
  /session:
    post:
      tags: ["Login"]
      summary: Log in a user
      description: >-
        If the user does not exist, a new user will be created and both the user identifier and an authentication token will be returned.
        If the user already exists, the user identifier and an authentication token will be returned.
      operationId: doLogin
      requestBody:
        description: User details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '201':
          description: User created and logged in successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Bad request - invalid username.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # -------------------- USER SEARCH -------------------- 
  /users:
    get:
      tags: ["Search"]
      summary: List or search users on the platform
      description: |-
        Returns a list of users.
          - If a 'username' query parameter is provided, returns users whose usernames most closely match the query (ordered by similarity).
          - Otherwise, returns all users, ordered alphabetically by username.
      operationId: userSearch
      parameters:
        - name: username
          in: query
          description: Filter users whose username is similar to the provided value.
          required: false
          schema:
            $ref: '#/components/schemas/UserName'
      responses:
        "200":
          description: Users list returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersSearchResponse'

  # -------------------- USERNAME UPDATE --------------------
  /profile/name: 
    patch:
      tags: ["User Management"]
      summary: Update the username of the logged-in user
      description: Updates the username of the logged-in user using the new value provided in the request body.
      operationId: setMyUserName
      security: [ BearerAuth: [] ]
      requestBody:
        description: The new username for the logged-in user.
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/PatchUserNameRequest'
      responses:
        "200":
          description: Username updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        "400":
          description: Invalid username (too short or too long or invalid chars).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication required or failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: Username already in use.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

# -------------------- USER PROFILE IMAGE --------------------
  /profile/image:
    put:
      tags: ["User Management"]
      summary: Upload or replace the profile picture of the logged-in user
      description: >-
        Uploads or replaces the profile picture for the authenticated user.
        The image must be JPEG, PNG or WebP format, maximum 5MB.
        Returns the updated user object with the new image URL.
      operationId: setMyPhoto
      security: [ BearerAuth: [] ]
      requestBody:
        description: Image file for user profile picture
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BinaryImageUploadRequest'
            encoding:
              binaryImage:
                contentType: image/jpeg, image/png, image/webp
      responses:
        '200':
          description: Profile picture uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad request - invalid image format or too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required or failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "413":
          description: Image file exceeds maximum size (5MB).
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Error'
        "415":  
          description: Unsupported image format. Only JPEG, PNG, WebP allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /chats:
    # -------------------- CHATS PREVIEWS --------------------
    get:
      tags: ["Chat Operations"]
      summary: Get chat previews for the logged-in user
      description: >-
        Retrieve a list of chat previews belonging to the authenticated user.
        The chats are returned in order, sorted by the time of the last sent message (most recent first).
      operationId: getMyConversations
      security: [ BearerAuth: [] ]
      responses:
        "200":
          description: >-
            Chats returned successfully. 
            The chat previews array is ordered by the last message sent time, from most recent to oldest.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatsPreviewListRespose' 
        "401":
          description: Authentication required or failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # -------------------- CHANGE GROUP NAME --------------------    
  /chats/{chatId}/name:
    parameters: [ $ref: '#/components/parameters/ChatId' ]

    patch:
      tags: ["Group Operations"]
      summary: Change the name of the specified group
      description: >-
        Changes the name of the group identified by the specified chat ID,
        using the new name provided in the request body.
        If the given identifier is not associated with a group chat, an error will be returned.
      operationId: setGroupName
      security: [ BearerAuth: [] ]
      requestBody:
        description: The new name for the group.
        required: true
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/PatchGroupNameRequest'
      responses:
        "200":
          description: Group name updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatName'
        "400":
          description: Bad request - invalid group name.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication required or failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - you are not authorized to change this group name.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: This is not a group chat, only the names of group chats can be set/changed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # -------------------- GROUP PROFILE IMAGE --------------------
  /chats/{chatId}/image:
    parameters: [ $ref: '#/components/parameters/ChatId' ]
    put:
      tags: ["Group Operations"]
      summary: Upload or replace the profile picture of the group
      description: >-
        Uploads or replace the profile picture for the specified group chat.
        Only group members can update the image.
        If the given identifier is not associated with a group chat, an error will be returned.
        The image must be JPEG, PNG or WebP format, maximum 5MB.
        Returns the updated chat preview with the new image URL.
      operationId: setGroupPhoto
      security: [ BearerAuth: [] ]
      requestBody:
        description: Image file for group profile picture
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BinaryImageUploadRequest'
            encoding:
              binaryImage:
                contentType: image/jpeg, image/png, image/webp
      responses:
        '200':
          description: Group picture uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatPreview'
        '400':
          description: Bad request - invalid image format or too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required or failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - you are not a member of this group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: This is not a group chat, only the profile picture of group chats can be set/changed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "413":
          description: Image file exceeds maximum size (5MB).
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Error'
        "415":  
          description: Unsupported image format. Only JPEG, PNG, WebP allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  

  /chats/{chatId}/members:
    parameters: [ $ref: '#/components/parameters/ChatId' ]
    
    # -------------------- CHAT GET USERS --------------------
    get:
      tags: ["Chat Operations"]
      summary: Retrieve the list of users in the specified chat
      description: >
        Returns the list of users who are members in the specified chat.
        Each item includes the user ID and username.
      operationId: getChatMembers
      security: [ BearerAuth: [] ]
      responses:
        "200":
          description: >-
            User list returned successfully. 
            The list contains the ID and name of each user in the chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMembersListResponse'
        "401":
          description: Authentication required or failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - you do not have access to this chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    # -------------------- GROUP ADD USERS --------------------
    post:
      tags: ["Group Operations"]
      summary: Add a specified user to the group
      description: >
        Adds the user associated with the given user ID to the group identified by the specified chat ID.
        To add a user to the group, you must already be a member.
      security: [ BearerAuth: [] ]
      operationId: addToGroup
      requestBody:
        description: User identifier
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUserToGroupRequest'
      responses:
        '201':
          description: New user added successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMembersListResponse'
        '400':
          description: Bad request - invalid UserId.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication required or failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - you do not have access to this group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "409":
          description: User is already in the group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # -------------------- GROUP LEAVE --------------------
  /chats/{chatId}/members/me:
    parameters: [ $ref: '#/components/parameters/ChatId' ]

    delete: 
      tags: ["Group Operations"]
      summary: Leave the group
      description: Removes the logged-in user from the group identified by the specified chat ID.
      security: [ BearerAuth: [] ]
      operationId: leaveGroup
      responses:
        "204":
          description: User left the group successfully. No content is returned.
        "401":
          description: Authentication required or failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - you are not a member of this group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Group not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    

  /chats/{chatId}/messages:
    parameters: [ $ref: '#/components/parameters/ChatId' ]

    # -------------------- GET CHAT MESSAGES --------------------
    get:
      tags: ["Chat Operations"]
      summary: Retrieve all messages for the specified chat    
      description: >- #TODO: updated description when paging is implemented 
        Returns all messages belonging to the specified chat. 
      operationId: getConversation
      security: [ BearerAuth: [] ]
      responses:
        "200":
          description: >-
            Chat messages returned successfully. 
            The messages array is ordered by the last message sent time, from most recent to oldest.
          content:
            application/json:
              schema:
                    $ref: '#/components/schemas/ChatMessagesResponse'
        "401":
          description: Authentication required or failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - you do not have access to the specified chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Chat not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    
    # -------------------- SEND MESSAGE --------------------
    post:
      tags: ["Chat Operations"]
      summary: Send a message (text OR image OR both) in the specified chat
      description: >-
        Sends a new message to the specified chat using the content (text OR image OR both)
        and timestamp provided in the request body.
        The image must be JPEG, PNG or WebP format, maximum 5MB.
      operationId: sendMessage
      security: [ BearerAuth: [] ]
      requestBody:
        description: >-
          The message content (text OR image OR both) and sendtime used to create the 
          new message in the specified chat.
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/NewMessageRequest'
      responses:
        "201":
          description: Message created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "400":
          description: Bad request - invalid message content or missing required fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication required or failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - you are not allowed to send messages in this chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Chat not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "413":
          description: Image file exceeds maximum size (5MB).
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Error'
        "415":  
          description: Unsupported image format. Only JPEG, PNG, WebP allowed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  # -------------------- DELETE MESSAGE --------------------
  /chats/{chatId}/messages/{messageId}:
    parameters: 
      - $ref: '#/components/parameters/ChatId'
      - $ref: '#/components/parameters/MessageId' 
      
    delete:
      tags: ["Message Operations"]
      summary: Delete a specific message from the specified chat
      description: |-
        Deletes the message identified by messageId from the chat identified by chatId. 
        The authenticated user must be the same user that sent the message.
          - Subsequent reads of this message will return it with 'isDeleted' set to true and 'content' set to null, so clients can display it as a deleted message.
      operationId: deleteMessage
      security: [ BearerAuth: [] ] 
      responses:
        "200":
          description: Message marked as deleted successfully. Returns the updated message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "401":
          description: Authentication required or failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - you are not allowed to delete this message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Chat or message not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              
  # -------------------- REPLY MESSAGE --------------------
  /chats/{chatId}/messages/{messageId}/replies:
    parameters:
      - $ref: '#/components/parameters/ChatId'
      - $ref: '#/components/parameters/MessageId'

    post:
      tags: ["Message Operations"]
      summary: Add a comment replying to a specific message
      description: >
        Creates a new message in the specified chat that replies to
        the message identified by messageId.
      operationId: replyMessage
      security: [ BearerAuth: [] ]
      requestBody:
        description: The new message sent as a reply to the specified message.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewMessageRequest' 
      responses:
        "201":
          description: Reply message created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "400":
          description: Bad request - invalid message content or missing required fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication required or failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - you are not allowed to send messages in this chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Chat or referenced message not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # -------------------- ADD REACTION TO MESSAGE --------------------
  /chats/{chatId}/messages/{messageId}/reactions:
    parameters:
      - $ref: '#/components/parameters/ChatId'
      - $ref: '#/components/parameters/MessageId'

    post:
      tags: ["Message Operations"]
      summary: Add an emoji reaction to a specific message
      description: >-
        Lets the user react to the specified message with an emoji. If the user has
        already reacted to this message, the existing reaction is replaced with the new one.
      operationId: commentMessage
      security: [ BearerAuth: [] ]
      requestBody:
        description: The emoji to use as a reaction.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmojiReactionRequest'
      responses:
        "201":
          description: Reaction added or updated for the message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "400":
          description: Bad request - invalid emojiId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication required or failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - you are not allowed to access this chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Chat or referenced message not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    
    # -------------------- REMOVE REACTION TO MESSAGE --------------------
    delete:
      tags: ["Message Operations"]
      summary: Remove the logged-in user's reaction from the specified message
      description: >-
        Lets the logged-in user remove their reaction from the specified message.
      operationId: uncommentMessage
      security: [ BearerAuth: [] ]
      responses:
        "200":
          description: Reaction removed successfully. Returns the updated message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "401":
          description: Authentication required or failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - you are not allowed to access this chat.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Chat, message, or reaction not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # -------------------- FORWARD MESSAGE --------------------
  /chats/{chatId}/messages/{messageId}/forwards:
    parameters:
      - $ref: '#/components/parameters/ChatId'
      - $ref: '#/components/parameters/MessageId'

    post:
      tags: ["Message Operations"]
      summary: Forward the specified message
      description: >-
        Allows the user to forward the selected message to another chat.
        The ID of the destination chat must be specified in the request body.
      operationId: forwardMessage
      security: [ BearerAuth: [] ]
      requestBody:
        description: >- 
          The chatId and sendTime to use to forward the message in
          the destination chat.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForwardMessageRequest'              
      responses:
        "201":
          description: Message forwarded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "400":
          description: Bad request - invalid message sendTime or missing required fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Authentication required or failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: >-
            Forbidden - you are not allowed to send messages in this chat,
            or you do not have access to the specified message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Origin chat, message, or destination chat not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  # -------------------- SERVE MESSAGE IMAGE -------------------- 
  /images/message/{imageId}:
    parameters:
        - $ref: '#/components/parameters/ImageId'

    get:
      tags: ["Image Serving"]
      summary: Serve message image (chat members only)
      description: >-
        Returns the raw image file for display in chat.
        Authentication required, only chat members can access.
      operationId: serveMessageImage
      security: [ BearerAuth: [] ]
      responses:
        '200':
          $ref: '#/components/responses/RawImageFileResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - You are not a chat member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Image not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  # -------------------- SERVE USER PROFILE IMAGE -------------------- 
  /images/profile/{imageId}:
    parameters:
        - $ref: '#/components/parameters/ImageId'

    get:
      tags: ["Image Serving"]
      summary: Serve user profile picture (public access)
      description: >-
        Returns the user profile image.
        Publicly accessible; no authentication required.
      operationId: serveUserProfileImage
      responses:
        '200':
          $ref: '#/components/responses/RawImageFileResponse'
        '404':
          description: Profile image not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  # -------------------- SERVE GROUP PROFILE IMAGE -------------------- 
  /images/group/{imageId}:
    parameters:
      - $ref: '#/components/parameters/ImageId'

    get:
      tags: ["Image Serving"]
      summary: Serve group profile picture (group members only)
      description: >-
        Returns the group profile image.
        Authentication required, only group members can access.
      operationId: serveGroupProfileImage
      security: [ BearerAuth: [] ]
      responses:
        '200':
          $ref: '#/components/responses/RawImageFileResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - You are not a chat member
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Group profile image not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  parameters:
    ChatId:
      name: chatId
      in: path
      description: Unique identifier for the chat (UUID).
      required: true
      schema: { $ref: '#/components/schemas/ChatId' }
    
    MessageId:
      name: messageId
      in: path
      description: The messagge ID (UUID) that uniquely identifies the message within its chat.
      required: true
      schema: { $ref: '#/components/schemas/MessageId' }

    ImageId:
      name: imageId
      in: path
      description: Unique identifier for the image (UUID).
      required: true
      schema: { $ref: '#/components/schemas/ImageId' }
  
  # ================================================================
  
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: "JWT"

  # ================================================================

  schemas:
    # -------------------- BASE COMPONENTS --------------------
    # Basic components used in various schemas
    
    BaseId:
      type: string
      format: uuid
      readOnly: true
      description: Base UUID identifier type, used only as a parent for specific ID schemas
      pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$'
      minLength: 36
      maxLength: 36
      example: "550e8400-e29b-41d4-a716-446655440000"

    BaseName:
      description: >-
        The name must be 3 to 24 characters long. 
        Allowed characters are letters, numbers, spaces, underscores (_), and hyphens (-).
        The name needs at least one alpha-numeric character.
      type: string
      pattern: "^(?=.*[A-Za-z0-9_-])[A-Za-z0-9 _-]{3,24}$"
      minLength: 3
      maxLength: 24

    BaseDateTime:
      type: string
      format: date-time
      description: ISO 8601 timestamp
      example: "2025-11-11T09:59:00Z"
      minLength: 20
      maxLength: 30

    # -------------------- BASE IMAGE -------------------- 

    ImageId:
      allOf:
        - $ref: '#/components/schemas/BaseId'
        - description: Server-assigned unique identifier for the image.

    ImageUrl:
      type: string
      format: url
      description: >-
        URL to access the uploaded image
        The URL may not include a file extension, image format is indicated by HTTP Content-Type header upon retrieval.
      example: "https://wasapp.online/v1/images/profile/550e8400-e29b-41d4-a716-446655440000"

    ImageMimeType:
      type: string
      enum: [ image_jpeg, image_png, image_webp ]
      description: >-
        ACTUAL file format determined by server content validation.
        Do NOT rely on URL extension, extensions can be missing or wrong.

    ImageMetadata:
      type: object
      description: Metadata for an uploaded image
      required: [imageId, url, mimeType]
      properties:
        imageId:  { $ref: '#/components/schemas/ImageId'       }
        url:      { $ref: '#/components/schemas/ImageUrl'      }
        mimeType: { $ref: '#/components/schemas/ImageMimeType' }

    BinaryImage:
      type: string
      format: binary
      minLength: 1
      maxLength: 5242880 #(5MB in chars, oss: 1 MB as 1,048,576 bytes that's 1,048,576 characters)
      description: Image file (JPEG, PNG, WebP, max 5MB), used for uploading images.

    # -------------------- USER -------------------- 
    
    User:
      type: object
      description: User informations.
      required: [id, name, image]
      properties:
        id:     { $ref: '#/components/schemas/UserId'        }
        name:   { $ref: '#/components/schemas/UserName'      }
        image:  { $ref: '#/components/schemas/ImageMetadata' }

    UserId:
      allOf:
        - $ref: '#/components/schemas/BaseId'
        - description: Unique identifier assigned to the user by the server.

    UserName:
      allOf:
        - $ref: '#/components/schemas/BaseName'
        - description: Unique username visible to other users.
        - example: Feldspar 
    
    # -------------------- LOGIN --------------------
    
    LoginRequest:
      type: object
      description: Request payload containing the username to log in or create a user.
      required: [userName]
      properties:
        userName: { $ref: '#/components/schemas/UserName' }

    BearerToken:
      type: string
      description: Token used to fullfil the Bearer Authentication standard.
      pattern: ^Bearer\s[A-Za-z0-9-._~+/]+={0,2}$
      example: "Bearer JhdkEN7QWidlYDjRTH8I~n99YJfqCC=="
    
    # -------------------- CHAT -------------------- 

    ChatId:
      allOf:
        - $ref: '#/components/schemas/BaseId'
        - description: Unique identifier assigned to the chat by the server.

    ChatName:
      allOf:
        - $ref: '#/components/schemas/BaseName'
        - description: Name of the chat
        - example: Marco34

    ChatPreview:
      type: object  
      description: >-
        Represents a chat. Standard chats include two users; 
        group chats can be created with the group flag.
      required: [id, displayName]
      properties:
        id:           { $ref: '#/components/schemas/ChatId'           }
        displayName:  { $ref: '#/components/schemas/ChatDisplayName'  }
        displayImage: { $ref: '#/components/schemas/ChatDisplayImage' }
        isGroupChat:  { $ref: '#/components/schemas/IsGroupChat'      }
        lastMessage:  { $ref: '#/components/schemas/ChatLastMessage'  }

    ChatDisplayName:
      allOf:
        - $ref: '#/components/schemas/ChatName'
        - description: |-
            The name displayed in the chat preview.
              - For 1-on-1 chats: the name of the other user is displayed.
              - For group chats: the group name is displayed.

    ChatDisplayImage:
      allOf:
        - $ref: '#/components/schemas/ImageMetadata'
        - description: |-
            The chat profile image displayed in the chat preview.
              - For 1-on-1 chats: the profile image of the other user is displayed.
              - For group chats: the group progile image is displayed

    IsGroupChat:
      type: boolean
      description: >-
        Indicates if it's a group chat. Used by the client to determine when to display additional group info.
        For example, if is a group chat, the client can show in the last message preview the sender's name.
      readOnly: true

    ChatLastMessage:
      type: object
      description: >-
        Preview of the last message sent in the chat.
        It can be composed by a text or by an image or both in this case the text is used as caption.
      required: [content, status, sendTime, senderName]
      properties:
        status:     { $ref: '#/components/schemas/MessageStatus'   }
        content:    { $ref: '#/components/schemas/MessageContent'  }
        sendTime:   { $ref: '#/components/schemas/BaseDateTime'    }
        senderName: { $ref: '#/components/schemas/UserName'        }

    # -------------------- MESSAGE --------------------

    Message:
      type: object
      description: |- 
        Represents a message in a chat and includes all the information needed to display it.
          - If the 'isDeleted' flag is true, the message content will not be returned by the server , and the client shoud render it as a deleted message.
          - If 'forwardedFrom' is not present, the message was composed in this chat. If present, it contains the identifiers (`chatId` and `messageId`) of the original message from another chat which this message forwards. This allows clients to display context about forwarded messages by referencing their original location.
          - If 'replyTo' is not present, this message is not a reply. If it is present, it contains the ID of the message in the same chat that this message is replying to.
      required: [id, chatId, sendTime, sender, status, isDeleted, reactionsList]
      properties:
        id:            { $ref: '#/components/schemas/MessageId'            }
        chatId:        { $ref: '#/components/schemas/ChatId'               }
        sendTime:      { $ref: '#/components/schemas/BaseDateTime'         }
        sender:        { $ref: '#/components/schemas/User'                 }
        status:        { $ref: '#/components/schemas/MessageStatus'        }
        isDeleted:     { $ref: '#/components/schemas/MessageIsDeletedFlag' }
        reactionsList: { $ref: '#/components/schemas/EmojiReactionsList'   }
        forwardedFrom: { $ref: '#/components/schemas/ForwardedFromInfo'    }  #optional
        replyTo:       { $ref: '#/components/schemas/ReplyToMessageId'     }  #optional
        content:       { $ref: '#/components/schemas/MessageContent'       }  #optional

    MessageId:
      allOf:
        - $ref: '#/components/schemas/BaseId'
        - description: >-
            Unique identifier assigned to the message by the server.
            A MessageId uniquely identifies a message only within its chat.

    MessageContent:
      description: >-
        Generic message content: only text, only image, or both 
        (in this case, the text is used as a caption for the image).
      oneOf:
        - type: object
          required: [text, msgImage]
          properties:
            text:     { $ref: '#/components/schemas/MessageText'  }
            msgImage: { $ref: '#/components/schemas/ImageMetadata' }
        #--------------------------
        - type: object
          required: [text]
          properties:
            text: { $ref: '#/components/schemas/MessageText' }
        #--------------------------
        - type: object
          required: [msgImage]
          properties:
            msgImage: { $ref: '#/components/schemas/ImageMetadata' }  

    MessageText:
      type: string
      description: >-
        The message text. Must contain at least one non-whitespace character.
        Cannot be made up only of spaces or other whitespace characters.
      minLength: 1
      maxLength: 3000
      pattern: '^/[\S\s]+[\S]+/'
      example: "Hello World!!"

    MessageIsDeletedFlag:
      type: boolean
      description: >-
        Indicates whether the message content has been deleted.
        If true, the message content is not returned by the server,
        and the client should display this message as deleted.

    MessageStatus:
      type: string
      enum: [delivered, received, read] 
      description: |-
        Message read status:
          - 'delivered' means the message has been delivered to the server (default)
          - 'received' means the message has been received by all recipients (all participants except the sender)
          - 'read' means the message has been read by all recipients (all participants except the sender)
        This info is only useful when the requesting user sent the message, so the app can show in the preview of the chat if others have received/read your message.

    ReplyToMessageId:
      allOf:
        - $ref: '#/components/schemas/MessageId'
        - description: >-
            Identifier of the message in the same chat that this message is replying to.
            If absent, this message is not a reply.

    ForwardedFromInfo:
      type: object
      description: Information about the original message this one was forwarded from.     
      required: [chatId, messageId]
      properties:
        chatId:    { $ref: '#/components/schemas/ChatId'    }
        messageId: { $ref: '#/components/schemas/MessageId' } 
    
    # -------------------- EMOJI REACTIONS --------------------

    EmojiId:
      type: integer
      description: >-
        Numeric identifier of the emoji used as a reaction. Mapping:
          - 0 = 👍
          - 1 = ❤️
          - 2 = 😂
          - 3 = 😮
          - 4 = 😢
          - 5 = 🤔
          - 6 = 👏
          - 7 = 🙌
          - 8 = 😡
          - 9 = 🤯
      minimum: 0
      maximum: 9

    EmojiReaction:
      type: object
      description: >-
        Represents a reaction to a message, including the user who 
        reacted and the emoji they used.
      required: [userId, emojiId]
      properties:
        userId:  { $ref: '#/components/schemas/UserId'  }
        emojiId: { $ref: '#/components/schemas/EmojiId' }

    EmojiReactionsList:
      type: array
      description: List of emoji reactions associated with the message.
      minItems: 0
      maxItems: 1024 #max number of memmbers of a group chat
      items:
        $ref: '#/components/schemas/EmojiReaction'

    # -------------------- REQUESTS --------------------
    
    PatchUserNameRequest:
      type: object
      description: Request body for updating the logged-in user's username.
      properties:
        userName: { $ref: '#/components/schemas/UserName' }

    PatchGroupNameRequest:
      type: object
      description: Request body for changing the name of the specified group.
      properties:
        groupName:
          $ref: '#/components/schemas/ChatName'

    NewMessageRequest:
      type: object 
      description: >-
        Request body for sending a new message.
        The message can contain: only text, only image, or both 
        (in this case, the text is used as a caption for the image).
      oneOf:
        - type: object
          required: [text, imageFile, sendTime]
          properties:
            text:      { $ref: '#/components/schemas/MessageText'  }
            imageFile: { $ref: '#/components/schemas/BinaryImage'  }
            sendTime:  { $ref: '#/components/schemas/BaseDateTime' }
        #--------------------------
        - type: object
          required: [imageFile, sendTime]
          properties:
            imageFile: { $ref: '#/components/schemas/BinaryImage'  }
            sendTime:  { $ref: '#/components/schemas/BaseDateTime' }
        #--------------------------
        - type: object
          required: [text, sendTime]
          properties:
            text:     { $ref: '#/components/schemas/MessageText'  }
            sendTime: { $ref: '#/components/schemas/BaseDateTime' }

    ForwardMessageRequest:
      type: object 
      description: Request to forward a message to another chat.
      required: [forwardTo, sendTime]
      properties:
        forwardTo: { $ref: '#/components/schemas/ChatId'       }
        sendTime:  { $ref: '#/components/schemas/BaseDateTime' }

    EmojiReactionRequest:
      type: object
      description: Represents a reaction to a message made by the logged-in user.
      required: [userId]
      properties:
        userId:  { $ref: '#/components/schemas/UserId'  } 

    AddUserToGroupRequest:
      description: Request to add a user to a group chat.
      type: object
      required: [userId]
      properties:
        userId: { $ref: '#/components/schemas/UserId' }

    BinaryImageUploadRequest:
      type: object
      description: Request for uloading a image file (JPEG, PNG, WebP, max 5MB), used for uploading images.
      required: [binaryImage]
      properties:
        binaryImage: { $ref: '#/components/schemas/BinaryImage' }

    # -------------------- RESPONSES --------------------

    Error:
      type: object
      description: Default error structure.
      properties:
        code:
          type: string
          description: HTTP error code.
        message:
          type: string
          description: Error information.
      required: [code, message]

    AuthResponse:
      type: object
      description: Authentication result containing the user identifier and bearer token.
      readOnly: true
      required: [identifier, token]
      properties:
        identifier: { $ref: '#/components/schemas/UserId'      }
        token:      { $ref: '#/components/schemas/BearerToken' }

    UsersSearchResponse:  #todo: paging
      type: object
      description: Response containing the list of users matching the search criteria.
      properties:
        usersList:
          type: array
          description: >-
            Returns the list of user matching the username query (ordered by similarity), 
            or all users alphabetically if no query is provided.
          minItems: 0
          maxItems: 50
          items:
            $ref: '#/components/schemas/User' 

    ChatsPreviewListRespose: #todo: paging
      type: object
      description: Response containing the list of chat previews for the logged-in user.
      properties:
        chatsPreviewList:
          type: array
          description: >- 
            Array of chat previews, used for displaying the list of a user's chats.
            The list is ordered by the time of the last message in each chat, from latest to oldest.
          minItems: 0
          maxItems: 50
          items:
            $ref: '#/components/schemas/ChatPreview'

    ChatMessagesResponse: #todo: paging
      type: object
      description: Response to the request of the messages of a chat.
      properties:
        messages:
          type: array 
          description: List of messages in cronological order, newest first.
          minItems: 0
          maxItems: 50
          items:
            $ref: '#/components/schemas/Message'

    ChatMembersListResponse:
      type: object
      description: Response containing the list of members in the chat.
      properties:
        membersList:
          type: array
          description: List of users in a chat, ordered alphabetically by username.
          minItems: 1
          maxItems: 1024 #max number of alowed members in a group chat
          items:
            $ref: '#/components/schemas/User'
  
  responses:
    RawImageFileResponse:
      description: Raw image file returned as binary data
      content:
        image/jpeg:
          schema:
            type: string
            format: binary
            description: JPEG image file (binary data)
        image/png:
          schema:
            type: string
            format: binary
            description: PNG image file (binary data)
        image/webp:
          schema:
            type: string
            format: binary
            description: WebP image file (binary data)
